body {
  /* background: url("/fon.png"); */
  /* background-color: peachpuff; */
  background: linear-gradient(90deg, #f0d9ca, #8fcaed, #f59cf8);
  color: white;
}

h2 {
  /* background-color: lightgray; */
  text-align: center;
  font-size: 30px;
  width: 200px;
  /* border-radius: 16px; */
  /* border: 3px solid tomato; */
  margin-left: 320px;
  color: coral;
  margin-right: 840px;
}

.ssilki {
  font-size: 17px;
  font-style: italic;
  width: 960px;
  margin: 0 auto;
  /* background-color: lightgray; */
  background: linear-gradient(45deg, #fadeb6, #ff95ff, #ffcbb3);
  border-radius: 16px;
  border: 5px solid tomato;
}

a {
  text-decoration: none;
  color: mediumblue;
}

a:hover {
  color: red;
  text-decoration: none;
}

body {
  margin: 0 auto;
}

table {
  width: 960px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  margin: 0 auto;
  border: 5px solid tomato;
}

table tr:nth-child(odd) {
  background-color: orchid;
  color: darkmagenta;
}

table tr:nth-child(even) {
  background-color: rebeccapurple;
  color: lightpink;
}

form {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 960px;
  margin: 0 auto;
  /* background-color: lightgray; */
  background: linear-gradient(45deg, #fadeb6, #ff95ff, #ffcbb3);
  border-radius: 16px;
  border: 5px solid tomato;
}

header {
  position: relative;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  color: tomato;
  margin: 0;
  /* background-color: lightgray; */
  background: linear-gradient(45deg, #f00232, #216fd4, #3ef35f);
  border-radius: 16px;
  height: 100px;
  padding-top: 10px;
  border: 5px solid tomato;
}

footer {
  text-align: center;
  font-style: italic;
  margin: 0;
  /* background-color: lightgray; */
  background: linear-gradient(45deg, #f00232, #216fd4, #3ef35f);
  border-radius: 16px;
  margin-top: 15px;
  height: 50px;
  padding-top: 25px;
  font-size: 20px;
  border: 5px solid tomato;
}

#logo {
  width: 80px;
  height: 80px;
  float: left;
  position: absolute;
  left: 21%;
}

nav {
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  height: 65px;
  border-radius: 16px;
  width: 960px;
}

nav a {
  /* background-color: lightgray; */
  background: linear-gradient(45deg, #fadeb6, #ff95ff, #ffcbb3);
  color: indianred;
  padding: 5px;
  border-radius: 8px;
  border: 3px solid tomato;
}
