body {
  /* background: url("/160042.png"); */
  background-color: peachpuff;
  color: white;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: coral;
  margin-right: 840px;
}

.ssilki {
  font-size: 17px;
  font-style: italic;
  max-width: 960px;
  margin: 0 auto;
  background-color: lightgray;
  border-radius: 16px;
  border: 5px dashed tomato;
}

a {
  text-decoration: none;
  color: mediumblue;
}

a:hover {
  color: red;
  text-decoration: none;
}

body {
  margin: 0 auto;
}

.tabl {
  width: 960px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  margin: 0 auto;
  border: 5px dashed tomato;
}

table tr:nth-child(odd) {
  background-color: orchid;
  color: darkmagenta;
}

table tr:nth-child(even) {
  background-color: rebeccapurple;
  color: lightpink;
}

form {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 960px;
  margin: 0 auto;
  background-color: lightgray;
  border-radius: 16px;
  border: 5px dashed tomato;
}

header {
  position: relative;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  color: tomato;
  margin: 0;
  background-color: lightgray;
  border-radius: 16px;
  height: 100px;
  padding-top: 10px;
  border: 5px dashed tomato;
}

footer {
  text-align: center;
  font-style: italic;
  margin: 0;
  background-color: lightgray;
  border-radius: 16px;
  margin-top: 15px;
  height: 50px;
  padding-top: 25px;
  font-size: 20px;
  border: 5px dashed tomato;
}

#logo {
  width: 80px;
  height: 80px;
  float: left;
  position: absolute;
  left: 18%;
  /* 21% */
}

nav {
  margin: 0 auto;
  background-color: lightgray;
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  height: 45px;
  border-radius: 16px;
  margin-bottom: 10px;
  width: 320px;
  border: 1rem solid;
  border: 5px dashed tomato;
}
